.product{
    width:250px;
    height: 350px;
    padding: 30px;
    border: 1px solid black;
    text-align: center;
    /* margin: auto; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.productimg{
    width:236px;
    height: 230px;
    margin: auto;
  
}
.productdescribe{
    font-family: 'Times New Roman', Times, serif;

}
.pd1{
    margin-bottom: 5px;
    color: #666666;
    
}
.pd2{
    margin-top: 15px;
    margin-right: 10px;
    color: orange;
    font-weight: bold;
    
}
.pd3{
    margin-top: 5px;
    color:#008000 ;
    font-weight: bold;
    
}
.productbtn{
    margin-top: 20px;
}
.prbtn2{
    margin-left: 10px;
    padding: 5px;
    padding: 5px;
    background-color:#666666 ;
    color: white;
    
    border: none;
    border-radius: 5px;
}
.prbtn1{
    padding: 5px;
    background-color:orange ;
    color: white;
    width:110px;
    border: none;
    border-radius: 5px;
}
.prbtn1:hover{
    padding: 5px;
    background-color:#e94dab ;
    color: white;
    width:110px;
    border: none;
    border-radius: 5px;
}
.prbtn2:hover{
    margin-left: 10px;
    padding: 5px;
    padding: 5px;
    background-color:#dd0285 ;
    color: white; 
    border: none;
    border-radius: 5px;
}