.paymentmain{
    display: flex;
    width:95%;
    margin: auto;
    margin-top: 20px;
}
.payment{
    width:60%;
}
.paymentdetail{
    width:30%;
    margin-left: 3%;
}


@media screen and (max-width:780px){
    .paymentdetail{
       display: none;
    }
    .payment{
        width:96%;
        margin: auto;
        margin-bottom: 15px;
    }
}