.filter_sort_div>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:10px
}

.filter_sort_div>div>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:10px
}
Link{
    text-decoration: none;
    color: black;
  }
  .brand-filter-mobile1{
    display: none;
  }
  .mobile-view-sort{
    display: none;
  }

  /* .filter-sort-input{
    border: none;
    box-sizing: 0;
    box-shadow: none;
    padding: 0;
  } */


  @media screen and (max-width:780px){
    .brand-filter-mobile{
      display: none;
      
    }
    .filter_sort_div{
      display: flex;
    }
    .brand-filter-mobile1{
      display: block;
    }
    .filter_sort_div h2{
      display: none;
    }
    .sorthide{
      display: none;
    }
    .mobile-view-sort{
      display: block;
    }
    /* .filter_sort_div select{
      width: 100%;
      padding: 5px;
    }
    */
  }