.filter_sort_div>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:10px
}

.filter_sort_div>div>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:10px
}
Link{
    text-decoration: none;
    color: black;
  }

  /* .filter-sort-input{
    border: none;
    box-sizing: 0;
    box-shadow: none;
    padding: 0;
  } */


  @media screen and (max-width:780px){
    .brand-filter-mobile{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }