.navbar{
    width:95%;
    margin: auto;
    box-shadow: rgba(19, 19, 19, 0.986) 0px 2px 8px 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 178, 56);
    
}

.navbar-other-product{
  display: flex;
  width: 80%;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.navbar-products{
    display: flex;
    width:30%;
    justify-content: space-between;
}
.navbar-login-register{
    display: flex;
    width:25%;
    justify-content: space-between;
}

  .link{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .active{
    background-color: rgb(68, 59, 41);
    color: white;
    padding: 5px 15px;
    border-radius: 7px;
  }
  .notactive{
    background-color: rgb(243, 178, 56);
    color: white;
  }
  strong{
    color: green;
  }
  .activecart{
    color: rgb(240, 221, 187);
  }


  .mobile-menu-icon{
    display: none;
  }

  @media screen and (max-width:780px){
.navbar-other-product{
  display: none;
}
.nav-links{
  display: none;
}

.nav-links-mobile{
  position: absolute;
  display: block;
  left: 0;
  top: 75;
  transition: all 0.5s ease-out;
  width:80%;
  background-color: orange;
}

.mobile-menu-icon{
  display: block;
  position: absolute;
  font-size: 30px;
  color: white;
  
}
  }